.container {
    width:100%;
    border:0px solid #d3d3d3;
    padding:0px;
    top:0;
}
.container div {
    width:100%;
    top:0;
    padding:0px;
}
.container .header {
    background-color:#d3d3d3;
    padding: 0px;
    cursor: pointer;
    font-weight: bold;
    top:0;
}
.container .content {
    display: none;
    padding : 0px;
